<mat-toolbar color="primary">
  <span>Welcome</span>
</mat-toolbar>

<div role="main" *ngIf="player$ | async as player">
  <div class="cards">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar [src]="player.avatarfull" />
        <mat-card-title>{{ player.personaname }}</mat-card-title>
        <mat-card-subtitle> {{ player.steamid }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <dl>
          <ng-container *ngIf="player.realname">
            <dt>Real Name:</dt>
            <dd>{{ player.realname }}</dd>
          </ng-container>
          <ng-container *ngIf="player.lastlogoff">
            <dt>Last log-off:</dt>
            <dd>{{ (player.lastlogoff || 0) * 1000 | date: "medium" }}</dd>
          </ng-container>
          <ng-container *ngIf="player.timecreated">
            <dt>Time Created:</dt>
            <dd>{{ (player.timecreated || 0) * 1000 | date: "medium" }}</dd>
          </ng-container>
        </dl>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="player.gameid">
      <mat-card-header *ngIf="game$ | async as game">
        <img
          mat-card-avatar
          src="https://avatars.akamai.steamstatic.com/{{
            game.img_icon_url
          }}.jpg"
        />
        <mat-card-title
          >Currently playing: {{ player.gameextrainfo }}</mat-card-title
        >
        <mat-card-subtitle
          >Time Played | Last 2 weeks:
          {{ game.playtime_2weeks / 60 | number: "1.0-1" }} hrs; Total:
          {{
            game.playtime_forever / 60 | number: "1.0-1"
          }}
          hrs</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        src="https://cdn.cloudflare.steamstatic.com/steam/apps/{{
          player.gameid
        }}/header.jpg"
      />
      <mat-card-content>
        <mat-nav-list>
          <a
            mat-list-item
            href="http://pcgamingwiki.com/api/appid.php?appid={{
              player.gameid
            }}"
            target="new"
            >PCGamingWiki</a
          ><br />
          <a
            mat-list-item
            href="https://steamdb.info/app/{{ player.gameid }}"
            target="new"
            >SteamDB</a
          >
        </mat-nav-list>
      </mat-card-content>
    </mat-card>
  </div>
  <form
    class="search-bar"
    action="//www.google.com/search"
    method="get"
    target="new"
    ngNoForm
  >
    <input
      type="hidden"
      name="q"
      value="&quot;{{ searchPrefix }}&quot; {{ searchText }}"
    />
    <ng-container *ngIf="player.gameextrainfo">
      <mat-form-field>
        <mat-select
          [(ngModel)]="searchPrefix"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option value=""></mat-option>
          <mat-option [value]="player.gameextrainfo">{{
            player.gameextrainfo
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;
    </ng-container>
    <mat-form-field>
      <mat-label>Search term</mat-label>
      <input
        [ngModelOptions]="{ standalone: true }"
        type="text"
        matInput
        [(ngModel)]="searchText"
      />
    </mat-form-field>
  </form>
  <mat-nav-list>
    <a mat-list-item target="new" href="https://www.google.com">Google</a>
    <a mat-list-item target="new" href="https://en.wikipedia.org"
      >Wikipedia (en)</a
    >
    <a mat-list-item target="new" href="https://www.youtube.com">YouTube</a>
    <a mat-list-item target="new" href="https://www.facebook.com/"
      >Facebook</a
    >
    <a mat-list-item target="new" href="https://www.messenger.com/"
      >Facebook Messenger</a
    >
    <a mat-list-item target="new" href="https://www.reddit.com">Reddit</a>
    <mat-divider></mat-divider>
    <a mat-list-item target="new" href="http://minecraft.gamepedia.com"
      >Minecraft Wiki</a
    >
    <a mat-list-item target="new" href="http://gta.wikia.com">GTA Wiki</a>
    <a mat-list-item target="new" href="http://masseffect.wikia.com"
      >Mass Effect Wiki</a
    >
    <a mat-list-item target="new" href="http://terraria.gamepedia.com"
      >Terraria Wiki</a
    >
  </mat-nav-list>
  <router-outlet></router-outlet>
</div>
